.card {
  align-items: center;
  background: #fff;
  border-radius: 24px;
  box-shadow: 0 6px 58px rgb(196 203 214 / 10%);
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  padding: 22px 30px;
  gap: 25px;
  min-width: 650px;
}

.part {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 100px;
}

.task {
  width: 200px;
  text-align: start;
  align-items: flex-start;
}

.task_title {
  color: #91929e;
  font-size: 14px;
}

.task_name {
  cursor: pointer;
  text-decoration: underline;
}

.todo_button {
  background: hsla(217, 9%, 53%, 0.14);
  border: none;
  border-radius: 1rem;
  color: #7d8592;
  cursor: pointer;
  font-size: 12px;
  font-weight: 700;
  outline: none;
  padding: 7px 14px;
  align-self: center;
}

.circles {
  display: flex;
  position: relative;
  align-items: center;
}

.circle:first-child {
  position: absolute;
}

.button_box {
  display: flex;
  align-items: flex-start;
  gap: 5px;
}

.button {
  background: none;
  border: none;
  cursor: pointer;
}

.button:last-child {
  color: red;
}
